<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .customer {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

    </style>
</head>

<body>

<nav>
    <a href="{{ url_for('index') }}">FlaskApp</a>
    <a href="{{ url_for('create') }}">Create</a>
</nav>
<hr>

<h1>This is a Flask App containerised with Docker !!</h1>

{% block content %}
<h1>{% block title %} Customers {% endblock %}</h1>
{% for customer in  customers %}
<div class='customer'>
    <p>Id: {{ customer[0] }}</p>
    <p>First Name: {{ customer[1] }}</p>
    <p>Last Name: {{ customer[2] }}</p>
    <p>Company Name: {{ customer[3] }}</p>
</div>
{% endfor %}
{% endblock %}

</body>
</html>